.header{
    /* border: 1px solid red; */
    background-color: blueviolet;
}
.head-text{
    border: 1px solid green;
    margin-top: 3em;

}
.logo h1{
    color: blueviolet;
}
.head-image{
    text-align: center;
    margin: 20px;
}
.head-image img{
    width: 40%;
    border-radius: 50%;
}
.links{
    margin-top: 20px;
    text-align: right; 
}

.info{
    margin-top: 40px;
    
}
.row1{
    /* border: 1px solid blue; */
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 10px  rgba(179, 173, 173, 0.377);
    
}
.icon1{
    /* border: 1px solid yellow; */
    padding: 40px;
    background-image: linear-gradient(rgb(100, 100, 190), purple);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
i{
    font-size: 30px;
}
.rowtext{
    padding: 26px;
}
.rowtext2 {
    padding: 20px;
}
.sub-header{
    text-align: center;
    margin-top: 25px;
}
.sub-header h2{
    color: blueviolet;
}
.ime img{
    width: 100%;
    border-radius: 10px;
    height: 280px;
    /* background-image: url("shoe.jpg"); */

}
.myText{
    border: 1px solid green;
}
.hobby{
    
    margin-top: 50px;
    /* border: 1px solid green; */
}
.hobby-text h3{
    text-align: center;
}
.hobby-text .btn{
    text-align: center;
    width: 100%;
}
.hobby-text button{
    padding: 10px;
    width: 90%;
    background-color: blueviolet;
    color: white;
    border-radius: 5pc;
}
.tew{
    border: 1px solid firebrick;
}
@media only screen and (max-width: 995px) {
    .info{
        display: block;
    }
}
